<!-- <nb-card>
    <nb-card-header>
        <div class="row ">
            <div class="col-lg-8">
                <span i18n="@@deviceCameras">Device Cameras</span>
                <p class="paragraph" i18n="@@noOfCamera">No of Camera</p>
            </div>
            <div class="col-lg-4  text-right">
                <button nbButton status="primary" (click)="openDialog()">Add Camera</button>
            </div>
        </div>
    </nb-card-header>

        <nb-card-body>
            <ng2-smart-table [settings]="tableSettings" [source]="listings"></ng2-smart-table>
        </nb-card-body>
</nb-card> -->

<div class="row">
    <div class="col-lg-12">
        <nb-card>
            <!-- i18n="@@model" -->
            <nb-card-header>
                <div class="row ">
                    <div class="col-lg-8">
                        <span i18n="@@deviceCameras">Device Cameras</span>
                       <div> <span i18n="@@noOfCamera">No of Camera</span> - {{ totalCamera }}</div>
                    </div>
                    <div class="col-lg-4  text-right">
                        <button nbButton status="primary" (click)="openDialog()">Add Camera</button>
                    </div>
                </div>
            </nb-card-header>
            <nb-card-body>
                <nb-list>
                    <nb-list-item>
                        <!-- i18n="@@no" -->
                        <div class="col-lg-3"><b>no</b></div>
                        <!-- i18n="@@Rotation" -->
                        <div class="col-lg-3 text-center"><b>Rotation</b></div>

                        <div class="col-lg-3 text-center"><b>Channnel</b></div>

                        <div class="col-lg-3 text-center"><b>Action</b></div>
                    </nb-list-item>
                    <nb-list-item *ngFor="let camera of listings; let i = index" [attr.data-index]="i">
                        <div class="col-lg-3">{{camera.no}}</div>
                        <div class="col-lg-3 text-center">{{camera.rotation}}</div>
                        <div class="col-lg-3 text-center">{{camera.channel}}</div>
                        <div class="col-lg-3 text-center">
                            <nb-icon class="available" icon="edit" status="primary" pack="eva" (click)="editCamera(camera)">
                            </nb-icon>
                            <nb-icon class="available" icon="trash-2" status="primary" pack="eva"
                                (click)="deleteCamera(i)">
                            </nb-icon>
                        </div>

                    </nb-list-item>
                </nb-list>
            </nb-card-body>
        </nb-card>
    </div>
</div>