<nb-layout>
    <nb-layout-header class="header-container" layout-background-color="blue">
        <div class="col-lg-4">
            <h1 id="title" class="title" i18n="@@applicationTitle">Forkers CMS</h1>
        </div>
        <div class="col-lg-4 offset-lg-4 text-right">
            <img src="assets/icon/English.png" (click)="onSwitchEnglish()">
            <img src="assets/icon/Japan.png" (click)="onSwitJapanese()">
        </div>


    </nb-layout-header>
    <nb-layout-column>
        <div class="model">
            <router-outlet></router-outlet>
        </div>
    </nb-layout-column>
</nb-layout>