nb-layout-column {
  display: grid;
  background: url(/assets/images/forklift.jpg);
  background-size: contain;
}
img {
  padding: 5px;
  width: 50px;
}

img:hover {
  cursor: pointer;
}

.language-icon {

  height: 30px;

  &.active {
    box-shadow: 3px 3px 1px #ccc;
    -webkit-box-shadow: 3px 3px 1px #ccc;
    -moz-box-shadow: 3px 3px 1px #ccc;
  }
}