.form1{
    margin-left: 43px;
    padding: 15px;
}

.form2{
    padding: 15px;
}

.form3{
    margin-left: 4px;
    padding: 15px;
}

.save{
    margin-left: 50px;
}

.cancel{
    margin-left: 60px;
}

