<nb-card>
    <nb-card-header>
        <span>{{ title }}</span>
    </nb-card-header>
    <nb-card-body>
        <form (keydown.enter)="$event.preventDefault()" [formGroup]="cameraForm" (ngSubmit)="onSave()">
            <div class="row">
                <div class="col-lg-4">
                    <span i18n="@@no"><b>No:</b></span>
                </div>
                <div class="col-lg-2">
                    <input nbInput i18n-placeholder="@@no" placeholder="No" formControlName="no">
                </div>
            </div>
            <div class="row">
                <div class="col-lg-4">
                    <span i18n="@@rotation"><b>Rotation:</b></span>
                </div>
                <div class="col-lg-2">
                    <input nbInput i18n-placeholder="@@rotation" placeholder="Rotation" formControlName="rotation">
                </div>
            </div>
            <div class="row">
                <div class="col-lg-4">
                    <span i18n="@@channel"><b>Channel:</b></span>
                </div>
                <div class="col-lg-2">
                    <input nbInput i18n-placeholder="@@channel" placeholder="Channel" formControlName="ch">
                </div>
            </div>

        </form>
    </nb-card-body>

    <nb-card-footer>
        <div class="row">
            <div class="col-lg-4">
                <button nbButton (click)="onCancelClick()" i18n="@@cancel">Cancel</button>
            </div>
            <div class="col-lg-8 text-right">
                <button nbButton type="submit" status="primary" [disabled]="!cameraForm.valid" (click)="onSave()"
                    i18n="@@save">Save</button>
            </div>
        </div>
    </nb-card-footer>
</nb-card>